.gradient-background {
  background: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-img {
  height: 200px;
  border-radius: 50%;
}

hr {
  border-top: 5px dotted #85ffbd;
  margin: 0 auto
}